:host ::ng-deep p-menubarsub {
    width: 100%;
}

.p-field {
    padding: 0.4rem;
}

.p-field-radiobutton {
    padding: 0.1rem;
    
}

.card {
    margin: 3rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* .p-dialog {
    display: flex;
} */

/* .p-table {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
} */